<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {# Load the tag library #}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FibonacciGettR</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{% static 'fibonacciGettR/web/css/bootstrap.min.css' %}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'fibonacciGettR/web/css/freelancer.css' %}"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'fibonacciGettR/web/font-awesome/css/font-awesome.min.css' %}"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Fibonacci GettR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Input Data</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static 'fibonacciGettR/web/img/profile.png' %}" alt="">

                <div class="intro-text">
                    <span class="name">Fibonacci GettR</span>
                    <hr class="star-light">
                    <span class="skills"></span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>The Fibonacci GettR is a simple app. Just enter a number and Fibonacci GettR returns you nth position
                    of the Fibonacci sequence</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Input Data</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="myForm" id="fibForm">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Integer</label>
                            <input type="text" class="form-control" placeholder="Fibonacci Input" id="inputFib">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Integer</label>
                            <input type="text" class="form-control" placeholder="Seed Value 1" id="inputFibSeed1">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Integer</label>
                            <input type="text" class="form-control" placeholder="Seed Value 2" id="inputFibSeed2">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <h2 id="success"></h2>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Previous Submissions</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% for fib in args.fib_submissions %}
                    <p>fib</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Fibonacci 2015
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src={% static "fibonacciGettR/web/js/jquery.js" %}></script>

<!-- Bootstrap Core JavaScript -->
<script src={% static "fibonacciGettR/web/js/bootstrap.min.js" %}></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<script src={% static "fibonacciGettR/web/js/classie.js" %}></script>
<script src={% static "fibonacciGettR/web/js/cbpAnimatedHeader.js" %}></script>


<!-- Contact Form JavaScript -->
{#<script src={% static "fibonacciGettR/web/js/jqBootstrapValidation.js" %}></script>#}
{#<script src={% static "fibonacciGettR/web/js/contact_me.js" %}></script>#}

<!-- Custom Theme JavaScript -->
<script src={% static "fibonacciGettR/web/js/freelancer.js" %}></script>

<script>
    var frm = $('#fibForm');
    frm.submit(function () {
        $.ajax({
            type: "POST",
            url: "v1/calculate/" + $('#inputFib').val() + "/" + $('#inputFibSeed1').val() +
            "/" + $('#inputFibSeed2').val() + "/",
            success: function (data) {
                //Remove the values from the input
                console.log(data);
                $('#success').text("Result: " + data);
            },

            error: function (xhr, errmsg, err) {
                console.log("ERROR!");
                $('#success').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
        return false;
    });

</script>

</body>

</html>
